@import "tailwindcss";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0B1120;
    color:white;
    font-family:Inter,Arial,sans-serif;
}